:root {
  --border: rgb(3, 169, 244);
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
    -90deg,
    #2e53b9,
    #4465bf,
    #406be1,
    #214abd,
    #183a97,
    #133080
  );
  color: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@media (max-width: 580px) {
  body {
    background-image: linear-gradient(-90deg, #3858b1, #406be1, #214abd);
  }
}

/* section-styles */
.section {
  min-height: 100vh;
}

.section-2 {
  margin-bottom: 30px;
}

/* nav-styles */

.nav-logo {
  font-family: "Italianno", serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.logo {
  background-color: white;
  border: 1px solid black;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  box-shadow: 0 0 8px rgb(177, 171, 136);
  height: 80px;
  width: 80px;
}

.nav-butt {
  color: gold;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Merriweather", Times, serif;
}

.nav-butt:hover {
  background-color: gold;
  color: rgb(23, 22, 22);
}

.nav-drawer {
  display: none;
}

.hamburger-menu {
  margin-right: 20px;
}

.bar {
  height: 5px;
  width: 40px;
  background: gold;
  margin-bottom: 2px;
  border-radius: 3px;
}

.nav-drawer-content {
  position: absolute;
  top: 10px;
  right: 8px;
  height: 52vh;
  background-color: rgb(230, 206, 67);
  color: #010203;
  width: 280px;
}

.drawer-text p {
  font-family: "Merriweather", sans-serif;
  font-size: 2.3rem;
  margin-top: 50px;
  cursor: pointer;
  font-weight: 500;
}

@media (min-width: 1900px) {
  .logo {
    height: 100px;
    width: 100px;
  }

  .nav-butt {
    font-size: 2rem;
  }
}

@media (max-width: 773px) and (min-width: 641px) {
  .logo {
    height: 60px;
    width: 60px;
  }
  .nav-butt {
    font-size: 1rem;
  }
}

@media (max-width: 640.88px) {
  .logo {
    height: 60px;
    width: 60px;
  }

  .nav-butt,
  .nav-butt-container {
    display: none;
  }

  .nav-drawer {
    display: block;
  }
}

@media (max-width: 505.88px) and (min-width: 395px) {
  .drawer-text p {
    font-size: 1.5rem;
    margin-top: 40px;
  }

  .nav-drawer-content {
    width: 250px;
    height: 260px;
  }
}

@media (max-width: 394.88px) and (min-width: 358px) {
  .drawer-text p {
    font-size: 1.4rem;
    margin-top: 30px;
  }

  .nav-drawer-content {
    width: 240px;
    height: 240px;
  }
}

@media (max-width: 357.88px) {
  .drawer-text p {
    font-size: 1.2rem;
    margin-top: 20px;
  }

  .nav-drawer-content {
    width: 200px;
    height: 210px;
  }
}

/* display-cards styles */

.cards {
  position: relative;
  height: 360px;
  width: 360px;
}

.card {
  background-color: #edca7f;
  color: rgb(53, 69, 194);
  border-radius: 25px;
  border: 2px solid gold;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 0 8px #c4c4be;
  transform: translateY(0) rotate(4deg) translateX(25px) scale(1);
  transform-origin: 0 0;
  transition: transform 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8) 0.1s,
    background 0.4s linear;
  cursor: pointer;
  user-select: none;
  :last-child {
    margin-bottom: 0;
  }
}

.card--next {
  z-index: 5;
  transform: translateY(-25px) rotate(4deg) translateX(25px) scale(1);
}

.card--out {
  animation: card-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
  transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95);
  z-index: 1;
  background: #bbb;
}

@keyframes card-out {
  0% {
    z-index: 20;
    transform: translateY(0px) rotate(-4deg);
  }
  50% {
    transform: translateY(-120%) rotate(-5deg) translateX(-40px);
  }
  80% {
    z-index: 1;
  }
  100% {
    transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95);
  }
}

.card--current {
  cursor: auto;
  user-select: auto;
  position: relative;
  z-index: 10;
  opacity: 1;
  transform: rotate(-1deg) translateX(0%) scale(1);
}

.display-card-desc {
  font-size: 2rem;
  font-family: "Merriweather", sans-serif;
}

@media (max-height: 407.88px) {
  .card {
    margin-top: 180px;
  }
}

@media (max-height: 474.88px) and (min-height: 408px) {
  .card {
    margin-top: 100px;
  }
}

@media (max-height: 532px) and (min-height: 475px) {
  .card {
    margin-top: 50px;
  }
}

@media (min-height: 680px) {
  .card {
    margin-top: -100px;
  }
}

@media (min-width: 2540px) {
  .cards {
    height: 740px;
    width: 740px;
  }

  .display-card-desc {
    font-size: 4rem;
  }
}

@media (min-width: 1589.88px) and (max-width: 2539.88px) {
  .cards {
    height: 450px;
    width: 450px;
  }
}

@media (max-width: 1023.88px) and (min-width: 774px) {
  .cards {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media (max-width: 773.88px) and (min-width: 641px) {
  .cards {
    height: 320px;
    width: 320px;
    margin-bottom: 80px;
  }
}

@media (max-width: 640px) and (min-width: 495px) {
  .cards {
    height: 300px;
    width: 300px;
    margin-top: -80px;
    margin-bottom: 100px;
  }
}

@media (max-width: 494.88px) and (min-width: 400px) {
  .cards {
    height: 250px;
    width: 250px;
    margin-top: -100px;
    margin-bottom: 100px;
  }

  .display-card-desc {
    font-size: 1.7rem;
  }
}

@media (max-width: 399.88px) {
  .cards {
    height: 220px;
    width: 220px;
    margin-top: -140px;
    margin-bottom: 100px;
  }

  .display-card-desc {
    font-size: 1.3rem;
  }
}

/* display-name styles */

.display-name-container {
  padding-right: 50px;
}

.title {
  font-family: "Italianno", serif;
  font-weight: 500;
  font-size: 11rem;
  padding-top: 13px;
}

.title-script-part {
  color: gold;
}

.title-sub {
  font-weight: bold;
  font-family: "Merriweather", serif;
  text-decoration: underline;
  font-style: italic;
  background: linear-gradient(
    to right,
    #ffd700,
    #ffea00,
    #ffffff,
    #ffc107,
    #ffd700
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-text 3s linear infinite;
  background-size: 200%;
}

@keyframes animate-text {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.display-text {
  margin-top: -15px;
  width: 400px;
  font-size: 1.5rem;
}

.display-text-part {
  color: gold;
}

.display-butt {
  margin-top: 50px;
  box-shadow: 0 0 2px white, 0 0 5px gold;
}

.home-button-text {
  font-family: "Italianno", serif;
  font-size: 1.8rem;
}

@media (min-width: 2540px) {
  .title {
    font-size: 22rem;
  }

  .display-text {
    font-size: 3rem;
    width: 800px;
    margin-top: -20px;
  }

  .display-butt {
    padding: 40px;
    border-radius: 12px;
  }

  .home-button-text {
    font-size: 4.4rem;
  }
}

@media (min-width: 1588.88px) and (max-width: 2539.88px) {
  .title {
    font-size: 14rem;
  }

  .display-text {
    font-size: 2rem;
    width: 520px;
  }

  .home-button-text {
    font-size: 2.2rem;
  }
}

@media (max-width: 1023.88px) {
  .display-name-container {
    padding-right: 0;
  }
}

@media (max-width: 1023.88px) and (min-width: 774px) {
  .title {
    font-size: 14rem;
  }

  .display-name-stack {
    padding-left: 20px;
    padding-top: 70px;
  }
}

@media (max-width: 773.88px) and (min-width: 641px) {
  .title {
    font-size: 11rem;
  }

  .display-name-stack {
    padding-top: 50px;
  }
}

@media (max-width: 640.88px) and (min-width: 503px) {
  .title {
    font-size: 8.3rem;
  }

  .display-name-stack {
    padding-top: 30px;
  }
}

@media (max-width: 502.88px) and (min-width: 401px) {
  .title {
    font-size: 7.2rem;
  }

  .display-text {
    font-size: 1.3rem;
    margin-top: -8px;
    width: 330px;
  }

  .display-name-stack {
    padding-top: 30px;
  }

  .home-button-text {
    font-size: 2.2rem;
  }

  .display-butt {
    padding: 20px;
    margin-top: 40px;
  }
}

@media (max-width: 400.88px) and (min-width: 361px) {
  .title {
    font-size: 6.5rem;
  }

  .display-text {
    font-size: 1.2rem;
    margin-top: -8px;
    width: 320px;
  }

  .display-name-stack {
    padding-top: 50px;
  }

  .home-button-text {
    font-size: 2rem;
  }

  .display-butt {
    padding: 20px;
    margin-top: 40px;
  }
}

@media (max-width: 360.88px) {
  .title {
    font-size: 6rem;
  }

  .display-text {
    font-size: 1rem;
    margin-top: -8px;
    width: 320px;
  }

  .display-name-stack {
    padding-top: 50px;
  }

  .home-button-text {
    font-size: 1.9rem;
  }

  .display-butt {
    margin-top: 40px;
  }
}

/* services */

.services-card {
  position: relative;
  border: 2px solid gold;
  border-radius: 10px;
}

.services-card-img {
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 4.4/2.2;
}

@media (hover: hover) {
  .services-card:hover:before {
    background-position: 100% 100%;
    transform: scale(1, 1);
  }

  .services-card::before {
    background: linear-gradient(
      130deg,
      transparent 0% 33%,
      var(--g1) 66%,
      var(--g2) 83.5%,
      var(--g3) 100%
    );
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    left: 0px;
    pointer-events: none;
    position: absolute;
    bottom: 0px;
    transition: background-position 750ms ease, transform 350ms ease;
    width: 100%;
    z-index: 1;
    border-radius: 10px;
  }
}

.services-text {
  font-family: "Italianno", serif;
  color: gold;
  font-size: 5rem;
  margin-bottom: 20px;
}

.services-card-container {
  position: relative;
  padding: 10px;
  display: grid;
  grid-template-areas: "ph1 ph2 ph3" "ph4 ph2 ph5";
  grid-auto-columns: 1fr;
  gap: 1rem;
}

.services-card:nth-child(1) {
  grid-area: ph2;
}

.services-card:nth-child(2) {
  grid-area: ph1;
}

.services-card:nth-child(3) {
  grid-area: ph3;
}

.services-card:nth-child(4) {
  grid-area: ph4;
}

.services-card:nth-child(5) {
  grid-area: ph5;
}

.service-card-desc {
  opacity: 0;
}

@media (hover: hover) {
  .service-card-desc {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: max-content;
    z-index: 100;
    left: 50%;
    bottom: 40%;
    color: rgb(0, 0, 0);
    transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    padding: 10px;
    background: rgba(46, 39, 39, 0.3);
    border-radius: 8px;
    border: 2px solid rgba(177, 177, 177, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: 750ms;
    color: white;
    font-size: 1.4rem;
    font-style: bold;
  }

  .services-card:hover .service-card-desc {
    opacity: 1;
    transform: translate(-50%, -30%);
  }
}

.services-card .button-to-move {
  opacity: 0;
  position: absolute;
  text-align: center;
  width: max-content;
  z-index: 100;
  left: 50%;
  bottom: 40%;
  color: rgb(0, 0, 0);
  transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  padding: 10px;
  background: rgba(46, 39, 39, 0.3);
  border-radius: 8px;
  border: 2px solid rgba(177, 177, 177, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  transition: 750ms;
  color: white;
  font-size: 1.4rem;
  font-style: bold;
}

.services-card.touch-hover-effect .button-to-move {
  opacity: 1;
  transform: translate(-50%, -30%);
}

body::before {
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    var(--g1) 66%,
    var(--g2) 83.5%,
    var(--g3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 750ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
  border-radius: 10px;
}

body.active::before {
  background-position: 100% 100%;
  transform: scale(1, 1);
}

.services-dialog {
  background-color: rgb(149, 200, 54);
}

.service-dialog-title {
  font-size: 1.5rem;
  color: rgb(161, 31, 132);
}

.service-dialog-desc {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.573);
}

.dialog-container {
  position: absolute;
  bottom: 35%;
  left: 50%;
}

@media (min-width: 1900px) {
  .services-text {
    font-size: 7rem;
  }
}

@media (max-width: 1023.88px) and (min-width: 484px) {
  .services-card-container {
    grid-template-areas: "ph1 ph2" "ph3 ph2" "ph4 ph5";
  }
}

@media (max-width: 483.88px) {
  .services-card-container {
    grid-template-areas: "ph1" "ph2" "ph3" "ph4" "ph5";
    padding: 20px;
  }
}

@media (max-width: 640.88px) {
  .dialog-container {
    bottom: 28%;
    left: 50%;
  }
}

@media (max-width: 550.88px) {
  .service-card-desc {
    font-size: 1rem;
  }
}

@media (max-width: 483.88px) and (min-width: 412px) {
  .service-dialog-title {
    font-size: 1.3rem;
  }

  .service-dialog-desc {
    font-size: 1rem;
    font-weight: 500;
  }

  .services-dialog {
    width: 70%;
  }
}

@media (max-width: 411.88px) {
  .service-dialog-title {
    font-size: 1.3rem;
  }

  .service-dialog-desc {
    font-size: 1rem;
    font-weight: 500;
  }

  .services-dialog {
    width: 80%;
  }
}

/* about styles */

.abt-grid {
  font-family: "Raleway", sans-serif;
}

.about-container {
  padding: 20px;
  width: 100%;
  display: grid;
  gap: 40px;
  grid-template-areas: "one one two two" "three three three three";
  grid-template-rows: 2fr 1fr;
}

.about-container2 {
  padding: 20px;
  display: grid;
  gap: 40px;
  margin-top: 10px;
  grid-template-areas: "four five six";
}

.about-div2,
.about-div3 {
  background-color: #1856a3;
}

.about-div1 {
  grid-area: one;
}

.about-div2 {
  grid-area: two;
  padding: 30px;
}

.about-div3 {
  grid-area: three;
  padding: 20px 30px;
}

.about-div4 {
  grid-area: four;
}

.about-div5 {
  grid-area: five;
}

.about-div6 {
  grid-area: six;
}

.abt-img {
  display: block;
  max-inline-size: 100%;
  object-fit: cover;
  border-radius: 10px;
  height: 100%;
}

.abt-div2-desc-h1 {
  font-size: 3rem;
  font-weight: bold;
  color: gold;
}

.abt-div2-desc-h2 {
  font-size: 1.8rem;
  color: gold;
}

.abt-div2-desc-h3 {
  font-size: 1.4rem;
}

.abt-div3-desc-h1 {
  font-size: 2.2rem;
  color: gold;
  font-weight: bold;
  text-align: center;
}

.abt-div3-desc-ul li {
  font-size: 1.3rem;
  text-align: center;
}

.about-div4,
.about-div5,
.about-div6 {
  padding: 10px;
  background-color: rgb(255, 229, 56);
}

.about-div4 img,
.about-div5 img,
.about-div6 img {
  width: 80px;
  height: 80px;
}

.abt-div4-h1,
.abt-div5-h1,
.abt-div6-h1 {
  color: rgb(33, 33, 33);
  text-align: center;
  font-size: 1.4rem;
  width: 260px;
  font-weight: bold;
  margin-top: 10px;
}

.about-div1,
.about-div2,
.about-div3,
.about-div4,
.about-div5,
.about-div6 {
  border: 2px solid gold;
  border-radius: 10px;
}

@media (max-width: 967.77px) and (min-width: 706px) {
  .about-container {
    padding: 100px;
    grid-template-areas: "one" "two" "three";
    grid-template-rows: 2fr 2fr 1fr;
  }

  .abt-img {
    aspect-ratio: 2.2/1;
  }

  .abt-div2-desc-h2 {
    margin-top: 25px;
  }

  .about-div3 {
    padding: 30px;
  }

  .abt-div3-desc-h1 {
    font-size: 1.5rem;
    text-align: left;
  }

  .abt-div3-desc-ul li {
    font-size: 1.1rem;
    text-align: left;
  }
}

@media (max-width: 967.77px) and (min-width: 815px) {
  .about-container2 {
    grid-template-areas: "four five" "six six";
    padding: 0 100px;
    margin-top: 0;
    grid-template-rows: 2fr 2fr;
  }
  .about-div4 img,
  .about-div5 img,
  .about-div6 img {
    width: 60px;
    height: 60px;
  }

  .abt-div4-h1,
  .abt-div5-h1,
  .abt-div6-h1 {
    font-size: 0.9rem;
  }
}

@media (max-width: 705.77px) and (min-width: 521px) {
  .about-container {
    grid-template-areas: "one" "two" "three";
    grid-template-rows: 300px 400px 250px;
  }

  .abt-img {
    aspect-ratio: 2.2/1;
  }

  .abt-div2-desc-h2 {
    margin-top: 25px;
    font-size: 1.5rem;
  }

  .about-div3 {
    padding: 30px;
  }

  .abt-div3-desc-h1 {
    font-size: 1.5rem;
    text-align: left;
  }

  .abt-div3-desc-ul li {
    font-size: 1.1rem;
    text-align: left;
  }
}

@media (max-width: 814.77px) {
  .about-container2 {
    grid-template-areas: "four" "five" "six";
    padding: 0 100px;
  }

  .about-div4 img,
  .about-div5 img,
  .about-div6 img {
    width: 65px;
    height: 65px;
  }

  .abt-div4-h1,
  .abt-div5-h1,
  .abt-div6-h1 {
    font-size: 0.9rem;
  }
}

@media (max-width: 705.77px) {
  .about-container2 {
    padding: 20px;
  }
}

@media (max-width: 671px) and (min-width: 521px) {
  .about-div3 {
    padding: 10px;
  }
}

@media (max-width: 520.77px) and (min-width: 453px) {
  .about-container {
    grid-template-areas: "one" "two" "three";
    grid-template-rows: 300px 350px 250px;
  }

  .abt-img {
    aspect-ratio: 2.2/1;
  }

  .abt-div2-desc-h1 {
    font-size: 2.5rem;
  }

  .abt-div2-desc-h2 {
    font-size: 1.4rem;
  }

  .abt-div2-desc-h3 {
    font-size: 1.2rem;
  }

  .about-div3 {
    padding: 30px;
  }

  .abt-div3-desc-h1 {
    font-size: 1.4rem;
    text-align: left;
  }

  .abt-div3-desc-ul li {
    font-size: 1rem;
    text-align: left;
  }
}

@media (max-width: 452.77px) and (min-width: 405px) {
  .about-container {
    grid-template-areas: "one" "two" "three";
    grid-template-rows: 300px 350px 280px;
  }

  .abt-img {
    aspect-ratio: 2.2/1;
  }

  .abt-div2-desc-h1 {
    font-size: 2.2rem;
  }

  .abt-div2-desc-h2 {
    font-size: 1.2rem;
  }

  .abt-div2-desc-h3 {
    font-size: 1.1rem;
  }

  .about-div3 {
    padding: 30px;
  }

  .abt-div3-desc-h1 {
    font-size: 1.2rem;
    text-align: left;
  }

  .abt-div3-desc-ul li {
    font-size: 1rem;
    text-align: left;
  }
}

@media (max-width: 404.77px) {
  .about-container {
    grid-template-areas: "one" "two" "three";
    grid-template-rows: 300px 350px 300px;
  }

  .abt-img {
    aspect-ratio: 2.2/1;
  }

  .about-div2 {
    padding: 20px;
  }

  .abt-div2-desc-h1 {
    font-size: 2rem;
  }

  .abt-div2-desc-h2 {
    font-size: 1.1rem;
  }

  .abt-div2-desc-h3 {
    font-size: 1rem;
  }

  .about-div3 {
    padding: 20px;
  }

  .abt-div3-desc-h1 {
    font-size: 1.2rem;
    text-align: left;
  }

  .abt-div3-desc-ul li {
    font-size: 1rem;
    text-align: left;
  }
}

@media (max-width: 563px) {
  .abt-div2-desc-h2 {
    margin-top: 0px;
  }
}

/* ContactUs-styles */

.contact-section {
  position: relative;
  min-height: 100vh;
}

.contact-heading {
  font-family: "Italianno", serif;
  font-size: 5rem;
  color: gold;
}

.contact-hd1 {
  font-family: "Merriweather", serif;
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact-hd1 span {
  text-decoration: underline;
  color: gold;
  font-style: italic;
}

.contact-hd2 {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.contact-hd3-bt {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  box-shadow: 0 0 10px gold;
}

.contact-card {
  background-color: #edca7f;
  border-radius: 10px;
  margin-left: 120px;
  max-width: 400px;
}

.cont-input {
  background-color: #f3dec5;
  padding: 23px 0;
  color: black;
  border-radius: 10px;
}

.cont-input::placeholder {
  color: black;
  padding: 10px;
}

.cont-submit {
  background-color: #f3dec5;
  border-radius: 10px;
  padding: 15px 40px;
  box-shadow: 0 0 3px rgb(206, 204, 204);
}

.contact-social-butt {
  position: absolute;
  width: 300px;
  bottom: 20px;
  left: calc(50% - 150px);
}

.contact-social-butt .butt {
  background-color: gold;
  box-shadow: 0 0 10px gold;
  margin-right: 30px;
  font-size: 0.8rem;
  color: black;
}

@media (min-width: 2500px) {
  .contact-heading {
    font-size: 10rem;
  }

  .contact-hd1 {
    font-size: 6rem;
  }

  .contact-hd2 {
    font-size: 3rem;
    margin-bottom: 70px;
  }

  .contact-hd3-bt {
    padding: 40px;
    font-size: 2rem;
  }

  .contact-card {
    max-width: 800px;
  }

  .cont-input {
    padding: 55px 0;
    font-size: 2rem;
  }

  .cont-input::placeholder {
    font-size: 1.8rem;
  }

  .cont-submit {
    font-size: 1.8rem;
    padding: 32px 62px;
  }

  .contact-social-butt .butt {
    font-size: 1.8rem;
    padding: 30px;
  }
}

@media (min-width: 1900px) and (max-width: 2499.88px) {
  .contact-heading {
    font-size: 7rem;
  }

  .contact-hd1 {
    font-size: 4.3rem;
  }

  .contact-hd2 {
    font-size: 2.6rem;
    margin-bottom: 70px;
  }

  .contact-hd3-bt {
    padding: 30px;
    font-size: 1.7rem;
  }

  .contact-card {
    max-width: 600px;
  }

  .cont-input {
    padding: 45px 0;
    font-size: 1.6rem;
  }

  .cont-input::placeholder {
    font-size: 1.5rem;
  }

  .cont-submit {
    font-size: 1.5rem;
    padding: 28px 50px;
  }

  .contact-social-butt .butt {
    font-size: 1.5rem;
    padding: 24px;
  }
}

@media (min-width: 1550px) and (max-width: 1899.88px) {
  .contact-hd1 {
    font-size: 3.7rem;
  }

  .contact-hd2 {
    font-size: 2.3rem;
    margin-bottom: 50px;
  }

  .contact-hd3-bt {
    padding: 25px;
    font-size: 1.4rem;
  }

  .contact-card {
    max-width: 500px;
  }

  .cont-input {
    padding: 35px 0;
    font-size: 1.3rem;
  }

  .cont-input::placeholder {
    font-size: 1.3rem;
  }

  .cont-submit {
    font-size: 1.4rem;
    padding: 24px 45px;
  }

  .contact-social-butt .butt {
    font-size: 1.3rem;
    padding: 15px;
  }
}

@media (max-width: 767.88px) {
  .contact-card {
    margin-bottom: 120px;
  }
}

@media (max-height: 590px) {
  .contact-social-butt {
    bottom: 5px;
  }

  .contact-card {
    margin-bottom: 60px;
  }
}

@media (max-width: 1000.88px) and (min-width: 861px) {
  .contact-hd1 {
    font-size: 2.1rem;
  }

  .contact-hd2 {
    font-size: 1.2rem;
  }

  .contact-hd3-bt {
    font-size: 0.9rem;
  }

  .contact-card {
    margin-left: 60px;
    max-width: 370px;
  }
}

@media (max-width: 860.88px) and (min-width: 768px) {
  .contact-hd1 {
    font-size: 1.9rem;
  }

  .contact-hd2 {
    font-size: 1.1rem;
  }

  .contact-hd3-bt {
    font-size: 0.8rem;
  }

  .contact-card {
    margin-left: 20px;
    max-width: 360px;
  }
}

@media (max-width: 767.88px) and (min-width: 504px) {
  .contact-hd1 {
    font-size: 2.3rem;
  }

  .contact-hd2 {
    font-size: 1.5rem;
  }

  .contact-hd3-bt {
    font-size: 1rem;
  }

  .contact-card-grid {
    display: flex;
    justify-content: center;
  }

  .contact-card {
    width: 400px;
    margin-top: 80px;
    margin-left: 0;
  }

  .contact-social-butt .butt {
    margin-right: 9px;
  }
}

@media (max-width: 503.88px) and (min-width: 429px) {
  .contact-heading {
    font-size: 4rem;
  }

  .contact-hd1 {
    font-size: 2rem;
  }

  .contact-hd2 {
    font-size: 1.2rem;
  }

  .contact-hd3-bt {
    font-size: 0.8rem;
  }

  .contact-card-grid {
    display: flex;
    justify-content: center;
  }

  .contact-card {
    width: 350px;
    margin-top: 48px;
    margin-left: 0;
  }

  .contact-social-butt .butt {
    font-size: 0.8rem;
    margin-right: 10px;
  }
}

@media (max-width: 428.88px) and (min-width: 361px) {
  .contact-heading {
    font-size: 3.5rem;
  }

  .contact-hd1 {
    font-size: 1.8rem;
  }

  .contact-hd2 {
    font-size: 1.1rem;
  }

  .contact-hd3-bt {
    font-size: 0.7rem;
  }

  .contact-card-grid {
    display: flex;
    justify-content: center;
  }

  .contact-card {
    width: 320px;
    margin-top: 48px;
    margin-left: 0;
  }

  .cont-input {
    padding: 2px 0;
  }

  .cont-input::placeholder {
    padding: 5px;
  }

  .contact-social-butt .butt {
    font-size: 0.8rem;
    margin-right: 7px;
  }
}

@media (max-width: 360.88px) {
  .contact-heading {
    font-size: 3.5rem;
  }

  .contact-hd1 {
    font-size: 1.5rem;
  }

  .contact-hd2 {
    font-size: 1rem;
  }

  .contact-hd3-bt {
    font-size: 0.6rem;
  }

  .contact-card-grid {
    display: flex;
    justify-content: center;
  }

  .contact-card {
    width: 273px;
    margin-top: 48px;
    margin-left: 0;
  }

  .cont-input {
    padding: 0;
  }

  .cont-input::placeholder {
    padding: 5px;
    font-size: 11px;
  }

  .contact-social-butt .butt {
    font-size: 0.7rem;
    margin-right: 5px;
  }

  .cont-submit {
    font-size: 0.9rem;
  }
}

/* scroll-bar-stryles */
::-webkit-scrollbar {
  width: 0.5em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: #2e53b9;
}

::-webkit-scrollbar-thumb {
  background: rgb(205, 185, 69);
  border-radius: 100vw;
}
