body {
  background-image: linear-gradient(
    -90deg,
    #2e53b9,
    #4465bf,
    #406be1,
    #214abd,
    #183a97,
    #133080
  );
  overflow-x: hidden;
}

/* section-styles */
.section {
  height: 100vh;
}

/* nav-styles */

.nav-logo {
  font-family: "Italianno", serif;
  font-weight: 400;
  font-size: 2.5rem;
}

/* cards-styles */
.card {
  background-color: #edca7f;
  color: rgb(41, 37, 37);
  border-radius: 12px;
}

.card-header {
  background-color: #f3dec5;
  width: 270px;
  height: 70px;
  margin: 40px 0 35px 30px;
  border-radius: 12px;
}

.card-body {
  background-color: #f3dec5;
  width: 340px;
  height: 240px;
  border-radius: 12px;
  margin-left: 30px;
  margin-bottom: 30px;
}

/* displayname styles */
.title {
  font-family: "Italianno", serif;
  font-weight: 500;
  font-size: 11rem;
  /* padding-left: 20px; */
  padding-top: 13px;
}

.title-script-part {
  color: gold;
}

.display-text {
  margin-top: -20px;
  width: 400px;
  font-size: 1rem;
}

.display-text-part {
  color: gold;
}

.home-button-text {
  font-family: "Italianno", serif;
  font-size: 1.8rem;
}

/* services */

.services-card {
  background-color: #efdb61;
  border-radius: 12px;
}

.services-heading {
  font-size: 5rem;
  font-family: "Italianno", serif;
}

.services-card-holder {
  margin-top: 70px;
}

.services-card-header {
  color: #564040;
  font-size: 1.5rem;
  padding-bottom: 50px;
}

.services-card-description {
  color: black;
  background-color: #f2eab2;
  font-size: 1rem;
  border-radius: 12px;
  padding: 60px 30px;
  text-align: left;
}
